header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label{
    font-size: 24px;
    font-weight: bold;
}
input,.manage{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}