header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
label{
    font-size: 24px;
    font-weight: bold;
}
input,.manage{
    padding: 5px 15px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 12px;
    
}
.manage{
    background-color: coral;
    color:white;
    border: none;
    box-shadow: 2px 3px 5px gray;
}
table{
    width: 600px;
    text-align: center; 
}
thead{
    background-color: darkcyan;
    color: white;
}
td,th{
    border: 1px solid gray;
    padding: 10px 20px;
}
tr:nth-child(2n){
    background-color: blueviolet;
    color: white;
}